<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartwasp.assistant.app">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.SmartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartwasp"
        android:usesCleartextTraffic="true">

        <!-- 快速启动页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.PrevBindActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.DeviceSetActivity" /> <!-- 今日头条屏幕适配数据 -->
        <activity android:name=".activity.MusicActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ApStepActivity" />
        <activity android:name=".activity.WifiListActivity" />
        <service android:name=".service.PushService" />
        <service android:name=".service.DownloadService"/>
        <service android:name=".service.ApConfigNetService" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>

</manifest>